<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">
	<title>Srivi's site</title>
	 <link rel="stylesheet" href = "grid.css"> </link>
	 <link rel="stylesheet"href = "style_new.css"> </link>
	 <link rel="stylesheet"href = "home.css"> </link>
	 <link rel="stylesheet"href = "about.css"> </link>
</head>
<body>
	<div class = 'container'>
		<header>
			<div class = 'inner-container row'>
				<div class = 'col-3 logo-container'>
					<div class = 'logo-inner'>
						<img src="./images/logo_new.png">
					</div>
				</div>
				<nav class = 'col-9' id = 'mobile-menu'>
					<ul class = 'row'>
						<li class = 'nav-link'>
							<a href = './index.html'>HOME</a>
						</li>
						<li class = 'nav-link'>
							<a href = './about.html'>ABOUT</a>
						</li>
						<li class = 'nav-link'>
							<a href = './services.html'>SERVICES</a>
						</li>
						<li class = 'nav-link'>
							<a href = './contact.html'>CONTACT</a>
						</li>
					</ul>	
				</nav>
				<div class = 'mm-button' id = 'mm-button'>
					<div class = 'mm-button-inner'>
						<div class = 'menu-bar'></div>
						<div class = 'menu-bar'></div>
						<div class = 'menu-bar'></div>
					</div>
				</div>
			</div>
		</header>
		<main>
			<section class = 'testimonial'>
				<div class = 'inner-container'>
					<p> "I found the critical review of my scientific work very useful, alongside the feedback on style." <span> Dr T H Inair, Humbug University </span> </p>
				</div>
			</section>				
			<section class = 'about'>
				<div class = 'inner-container row'>
					<h2> About me </h2>
					<article class = 'col-3 about-image'>

							<img src = './images/srivi.png' alt = 'Add when image added'/>
	
					</article>					
					<article class = 'col-8 about-text'>
					<p>
						Originally from India, I obtained a PhD in Molecular Pharmacology from Northwestern University in 1996. Since then, I have worked in various research and scientific writing positions both in the biotech industry and in academia. Most recently, I worked in Stanford University, where I was part of team engaged in research into the cellular and molecular mechanisms of hearing loss.
						You can view my CV <a href = './cv.pdf'>here</a>.
					</p>
					<p>
						I have always enjoyed the challenges of hands-on research work but have also grown to realize the importance of effective communication in disseminating research findings to the larger scientific audience. I found it deeply satisfying to help others succeed with their manuscript submissions and grant applications. Indeed, I was always the go-to person for writing needs during my research career. So, now I am excited to offer these services to other scientists. I look forward to working with you and helping you achieve your writing goals!
					</p>
					<p>
						When I'm not working, I enjoy listening to Indian classical music, playing tennis, reading and exploring the beautiful San Francisco Bay Area, where I live with my family. 
					</p>
					</article>
				</div>
			</section>			
		</main>
		<footer>
			<div class = 'inner-container row'>
				<div class = 'col-3 social-media'>
					<span><img src = './images/fb.png'></span>
					<span><img src = './images/tw.png'></span>
					<span><img src = './images/in.png'></span>
				</div>								
				<nav class = 'row'>
					<ul class = 'row'>
						<li class = 'nav-link'>
							<a href = './index.html'>HOME</a>
						</li>
						<li class = 'nav-link'>
							<a href = './about.html'>ABOUT</a>
						</li>
						<li class = 'nav-link'>
							<a href = './services.html'>SERVICES</a>
						</li>
						<li class = 'nav-link'>
							<a href = './contact.html'>CONTACT</a>
						</li>					
					</ul>	
				</nav>

				<div style = 'color:#ffffff;text-align:center;padding:10px;font-size:12px'>© 2016 Srividya Sundaresan </div>
			</div>
		</footer>
	</div>
	<script type="text/javascript" src = "script.js"></script>
</body>
</html>