<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">
	<title>Srivi's site</title>
	 <link rel="stylesheet" href = "grid.css"> </link>
	 <link rel="stylesheet"href = "style_new.css"> </link>
	 <link rel="stylesheet"href = "home.css"> </link>
	 <link rel="stylesheet"href = "contact.css"> </link>
</head>
<body>
	<div class = 'container'>
		<header>
			<div class = 'inner-container row'>
				<div class = 'col-3 logo-container'>
					<div class = 'logo-inner'>
						<img src="./images/logo_new.png">
					</div>
				</div>
				<nav class = 'col-9' id = 'mobile-menu'>
					<ul class = 'row'>
						<li class = 'nav-link'>
							<a href = './index.html'>HOME</a>
						</li>
						<li class = 'nav-link'>
							<a href = './about.html'>ABOUT</a>
						</li>
						<li class = 'nav-link'>
							<a href = './services.html'>SERVICES</a>
						</li>
						<li class = 'nav-link'>
							<a href = './contact.html'>CONTACT</a>
						</li>
					</ul>	
				</nav>
				<div class = 'mm-button' id = 'mm-button'>
					<div class = 'mm-button-inner'>
						<div class = 'menu-bar'></div>
						<div class = 'menu-bar'></div>
						<div class = 'menu-bar'></div>
					</div>
				</div>
			</div>
		</header>
		<main>
			<section class>
				<div class = 'inner-container row'>
					<div class = 'col-6 col-m-6'>
					<h2>Contact</h2>
					<p >If you wish to submit a manuscript for editing or have any questions about my services, please get in touch and I will get back to you as soon as possible.</p>
					</div>
					<div class = 'col-6 col-m-6 form-container'> 
						<form>
						<label class = 'row'>Name* </label>
						<input type = 'text' name = 'name'>
						<label class = 'row'>E-mail* </label>
						<input type = 'text' name = 'email'>
						<label class = 'row'>Your message* </label>
						<textarea></textarea></label>
						<label class = 'row last-form-row'>*required <input type = 'submit' value = 'Send'></label>
						</form>
					</div>
				</div>
			</section>
		</main>
		<footer>
			<div class = 'inner-container row'>
				<div class = 'col-3 social-media'>
					<span><img src = './images/fb.png'></span>
					<span><img src = './images/tw.png'></span>
					<span><img src = './images/in.png'></span>
				</div>								
				<nav class = 'row'>
					<ul class = 'row'>
						<li class = 'nav-link'>
							<a href = './index.html'>HOME</a>
						</li>
						<li class = 'nav-link'>
							<a href = './about.html'>ABOUT</a>
						</li>
						<li class = 'nav-link'>
							<a href = './services.html'>SERVICES</a>
						</li>
						<li class = 'nav-link'>
							<a href = './contact.html'>CONTACT</a>
						</li>					
					</ul>	
				</nav>

				<div style = 'color:#ffffff;text-align:center;padding:10px;font-size:12px'>© 2016 Srividya Sundaresan </div>
			</div>
		</footer>
	</div>
	<script type="text/javascript" src = "script.js"></script>
</body>
</html>