<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">
	<title>Srivi's site</title>
	 <link rel="stylesheet" href = "grid.css"> </link>
	 <link rel="stylesheet"href = "style_new.css"> </link>
	 <link rel="stylesheet"href = "services.css"> </link>
</head>
<body>
	<div class = 'container'>
		<header>
			<div class = 'inner-container row'>
				<div class = 'col-3 logo-container'>
					<div class = 'logo-inner'>
						<img src="./images/logo_new.png">
					</div>
				</div>
				<nav class = 'col-9' id = 'mobile-menu'>
					<ul class = 'row'>
						<li class = 'nav-link'>
							<a href = './index.html'>HOME</a>
						</li>
						<li class = 'nav-link'>
							<a href = './about.html'>ABOUT</a>
						</li>
						<li class = 'nav-link'>
							<a href = './services.html'>SERVICES</a>
						</li>
						<li class = 'nav-link'>
							<a href = './contact.html'>CONTACT</a>
						</li>
					</ul>	
				</nav>
				<div class = 'mm-button' id = 'mm-button'>
					<div class = 'mm-button-inner'>
						<div class = 'menu-bar'></div>
						<div class = 'menu-bar'></div>
						<div class = 'menu-bar'></div>
					</div>
				</div>
			</div>
		</header>
		<main>
			<section class = 'testimonial'>
				<div class = 'inner-container'>
					<p> "Delighted with the service. It definitely helped my article get published." <span> Dr I M Afake, Nonsuch University </span> </p>
				</div>
			</section>	
			<section class = 'services row'> 	
							<div class = 'inner-container row'>		
			<article class = 'service-types col-7'>


					<h2> How I can help you </h2>
					<ul>
						<span style = 'margin:5px 0;font-size:16px;text-align:center'> Whether you want guidance on grammar and style or in-depth feedback, I can offer services to suit your needs at reasonable rates and fast turn-around periods. Please <a href ='#'>contact me</a> to discuss your particular requirements.</span>
						<li><h4>LIGHT/QUICK EDIT</h4>Check for consistent language, grammar, and punctuation,  numbering of figures, tables, and citations in the manuscript.</li>
						<li><h4>MEDIUM EDIT</h4> All of the above, and in addition make suggestions to improve flow and readability, check for brevity, paragraph focus, and general  organization and cohesiveness of the manuscript.</li>
						<li><h4>HEAVY EDIT</h4> All of the above, and in addition provide critical feedback on the  scientific content as afforded by a peer-reviewer, make suggestions to present scientific results more effectively.</li>
						<li><h4>REVIEW RESPONSES</h4>Check if all comments in peer-reviews have been appropriately addressed; provide suggestions to improve effectiveness of author responses.</li>
						<li><h4>GRANT PROPOSALS</h4>Help formulate ideas into grant applications.</li>
					</ul>
			</article>

			<article class = 'service-details col-5'>
				<!--article class = 'col-6'-->
					<h2> Subject areas </h2>
											<h4> These are my primary areas of expertise. I may also be able to cover related areas. Please <a href ='#'>contact me</a> to discuss if your topic area can be covered. </h4>
					<ul>

						<li>
							Cell biology 
						</li>
						<li>
							Molecular biology
						</li>
						<li>
							Protein chemistry
						</li>
						<li>
							Genetics
						</li>	
						<li>
							Neuroscience
						</li>
						<li>
							Physiology
						</li>
						<li>
							Psychology
						</li>
						<li>
							Medical sciences - I have experiencing helping with clinical research and study reports in various fields including oncology,endocrinology, pharmacology, otolaryngology.
						</li>												
					</ul>
				
				<!--/article-->
			</article>
			</div>
			</section>
			<!--section class = 'services service-details'>
				<div class = 'inner-container row'>
				<article class = 'col-6'>
					<h2>I can help with you with:</h2>
					<ul>
						<li>
							Manuscripts
						</li>
						<li>
							Grant proposals
						</li>
						<li>
							Conference papers
						</li>
						<li>
							Theses
						</li>				
						<li>
							Abstracts
						</li>	
					</ul>
						<p>
							I am also open to other types of editing requests so feel free to get in touch if your document does not fall into any of the above categories
						</p>
				</article>
				</div>
			</section-->			
		</main>
		<footer>
			<div class = 'inner-container row'>
				<div class = 'col-3 social-media'>
					<span><img src = './images/fb.png'></span>
					<span><img src = './images/tw.png'></span>
					<span><img src = './images/in.png'></span>
				</div>								
				<nav class = 'row'>
					<ul class = 'row'>
						<li class = 'nav-link'>
							<a href = './index.html'>HOME</a>
						</li>
						<li class = 'nav-link'>
							<a href = './about.html'>ABOUT</a>
						</li>
						<li class = 'nav-link'>
							<a href = './services.html'>SERVICES</a>
						</li>
						<li class = 'nav-link'>
							<a href = './contact.html'>CONTACT</a>
						</li>					
					</ul>	
				</nav>

				<div style = 'color:#ffffff;text-align:center;padding:10px;font-size:12px'>© 2016 Srividya Sundaresan </div>
			</div>
		</footer>
	</div>
	<script type="text/javascript" src = "script.js"></script>
</body>
</html>