h2{
	text-align: center;
	font-size: 36px;
	margin: 0;
}

h3{
	font-size: 21px;
}

.services section{
	padding-left: 35px;
	padding-right: 35px;
}

.service-types ul{
	padding: 0 10px;
}

.service-types li{
	list-style-type: none;
	font-size: 16px;
	padding: 10px;
	margin: 20px auto;
	border: 1px solid rgba(0,104,148,.5);
	border-radius: 1px;
	background-color: rgba(0,104,148,.1);
}

.service-types li h4{
	font-weight: bold;
	font-size: 16px;
			color: rgb(0,104,148);
		background-color: transparent;
		margin: 0;

}

.service-details{
	padding:0 20px 10px;
	font-size: 16px;

}

.service-details h3{
	text-align: left;
	font-size: 24px;
}


.service-details li{
	/*padding: 8px 0;*/
	color: rgb(0,104,148);
	padding:10px;
	font-size: 100%;
}


.service-details ul{
	
}



@media only screen and (min-width: 768px){	
	.service-types ul{
		padding: 0 40px;
	}
}
